<form action="/login" method="post">
<div>
    <h1>Welcome</h1>
</div>
<div>
    <label for="">Email</label>
    <input type="email" placeholder="email" name="email" required>
</div>
<div>
    <label for="">Password</label>
    <input type="password" placeholder="passoword" name="password" required>
</div>
<div>
    <button type="submit">Login</button>
    <button action="/api/sessions/register" >Registrate</button>
    
</div>
</form>